

<ion-content>

  <ion-card class="cuadro-img" >
    <img src="../../assets/img/Recurso 1.png" class="img">
  </ion-card>
  
    <ion-row id="row">
      <ion-col sizeLg="3" sizeMd="3" sizeXs="6">
        <ion-card class="card" [routerLink]="['/home']">
          <ion-icon name="camera-outline"></ion-icon>
          <ion-card-subtitle>CAMARA</ion-card-subtitle>
        </ion-card>

      </ion-col>

      <ion-col sizeLg="3" sizeMd="3" sizeXs="6">
        <ion-card class="card" [routerLink]="['/musica']">
          <ion-icon name="musical-notes-outline"></ion-icon>
          <ion-card-subtitle>MUSICA</ion-card-subtitle>
        </ion-card>

      </ion-col>

      <ion-col sizeLg="3" sizeMd="3" sizeXs="6">
        <ion-card class="card" [routerLink]="['/registroper']">
          <ion-icon name="newspaper-outline"></ion-icon>
          <ion-card-subtitle>REGISTRO</ion-card-subtitle>
        </ion-card>

      </ion-col>

      <ion-col sizeLg="3" sizeMd="3" sizeXs="6">
        <ion-card class="card" [routerLink]="['/jsonapi']">
          <ion-icon name="reorder-four-outline"></ion-icon>
          <ion-card-subtitle>LISTA</ion-card-subtitle>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-card class="cuadro-img" >
      <img src="../../assets/img/Recurso 2.png" class="img">
    </ion-card>
</ion-content>
