.cuadro-img{
    padding: 0%;
    border-radius: 0%;
    box-shadow: none;
    margin-top: 0cm;
    margin-left: 0cm;
    margin-right: 0cm;
    width: 100%;
    
    display: flex;
    
}






  ion-card-header{
    background-color: #EA9010;
    font-size: 25px;
    text-align: center;
    color: white;
}


button{
    background-color: #EA9010;
    width: 60%;
    border-radius: 7px;
    height: 30px;
    margin-top: 10px;
    color: rgb(224, 224, 224);
    font-size: 30px;

}

#texto-registrarse{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    

}



.label{
    font-size: 20px;
    margin-bottom: 4px;
}

.img{
    width: 100%;
    margin-left: 0cm;
    margin-right: 0cm;
}

