<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>
    
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cuadro-img" >
    <img src="../../assets/img/Recurso 1.png" class="img">
  </ion-card>

  <ion-card class="tarjeta">
    <ion-card-header>Registro</ion-card-header>
  <ion-item >
    <ion-label class="label" position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="usuario" name="usuario" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="label" position="floating">Contraseña</ion-label>
    <ion-input [(ngModel)]="contrasena" name="contrasena" type="password"></ion-input>
  </ion-item>
  <ion-item >
    <ion-label class="label" position="floating">Confirmar Contraseña</ion-label>
    <ion-input [(ngModel)]="confirmarContrasena" name="confirmarContrasena" type="password"></ion-input>
  </ion-item>
  <div id="texto-registrarse">
  <button (click)="registrar()">Registrarse</button>
  </div>
</ion-card>
<ion-card class="cuadro-img">
  <img src="../../assets/img/Recurso 2.png" class="img">
</ion-card>
</ion-content>
